<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
    <link rel="stylesheet" href="~/styles/styles.css">
    <title>Index</title>
</head>
<body>
    <section id="contact" class="section scrollspy full-height">
        <h3 class="page-title white-text">Contact</h3>
        <div class="container">
            <p>
                <a aria-label="Email Ming" href="mailto:mingwang0904@gmail.com" class="btn-floating btn-large waves-effect waves-light brown tooltipped" target="_blank"><i class="fa fa-envelope"></i></a>&nbsp&nbsp<a aria-label="Email Ming" href="mailto:mingwang0904@gmail.com" class="hoverline" target="_blank">mingwang0904@gmail.com</a>
            </p>
            <p>
                <a href="https://github.com/mingwang168" class="btn-floating btn-large waves-effect waves-light brown tooltipped" target="_blank"><i class="fa fa-github"></i></a>&nbsp&nbsp<a href="https://github.com/mingwang168" class="hoverline" target="_blank">github.com/mingwang168</a>
            </p>
            <p>
                <a href="https://www.linkedin.com/in/minghuiwang/" class="btn-floating btn-large waves-effect waves-light brown tooltipped" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp&nbsp<a href="https://www.linkedin.com/in/minghuiwang/" class="hoverline" target="_blank">linkedin.com/in/minghuiwang/</a>
            </p>
        </div>
    </section>

</body>
</html>
